.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper-inner-nav {
  max-width: 1200px;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
