:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #2b32ba;
}

body {
  margin: 0;
  height: 300vh;
}
